@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.subdomain-list {
  display: flex;
  flex-wrap: wrap;              /* Allows items to wrap on smaller screens */
  padding: 0;
  list-style: none;
  justify-content: center;      /* Centers items on all screen sizes */
}

.subdomain-item {
  background-color: #000;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
}

.subdomain-link {
  color: white;
  text-decoration: none;
  font-weight: bold;
}
